.cart-container{
    font-size: 1.5rem;
}
.cart-total-flex {
  display: flex;
  align-items: center;
  gap: 4.4px;
}

.cart-tax-qty-text{
    margin: 0;
    &:first-child{
        margin-bottom: 8px;
    }
}
.cart-total-text {
  font-weight: var(--font-weight-medium);
}
