#arrow {
  height: 10px;
  width: 10px;
  transition-duration: 0.4s;
  transition-property: transform;
}

.dropdown-button {
  min-width: 30px;
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  cursor: pointer;
  & * {
    pointer-events: none;
  }
  & > a {
    text-decoration: none;
    color: inherit;
  }
  & .dropdown-button-isOpen {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}

li.dropdown-currency-selector{
  font-size: 1.125rem;
}
div.dropdown-menu-currency-selector{
  top: calc(100% + 1.25em);
}

.dropdown-element {
  pointer-events: none;
  padding: 0.5rem 2.375rem 0.5rem 1.25rem;
  white-space: nowrap;
}
.dropdown-element-isOpen {
  pointer-events: auto;
  cursor: pointer;
  &:hover{
    background-color: #EEEEEE;
  }
}
.dropdown-element-isOpen-selected{
  background-color: #EEEEEE;
}
