:root {
  --c-text: #1d1f22;
  --c-green: #5ece7b;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

@import "./navbar.scss";
@import "./currency-selector.scss";
@import "./product-list.scss";
@import "./product-card.scss";
@import "./loader.scss";
@import "./product-page.scss";
@import "./options-selector.scss";
@import "./cart-content.scss";
@import "./cart-overlay.scss";
@import "./cart.scss";
@import "./dropdown-menu.scss";

/*
  -- GENERAL CLASSES --
*/

.overlay {
  position: relative;
}

.overlay:before {
  content: " ";
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(57, 55, 72, 0.22);
}

.overlay-titles {
  margin: 0;
  padding-bottom: 2.625rem;
  padding-top: 2.1rem;
}
